In [31]:
%matplotlib notebook
# Dependencies declaration
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import os

In [32]:
pwd = os.getcwd()
#print(pwd)
pwd = pwd + '/resources/catalogos'
#print(pwd)


for path, folders, files in os.walk(pwd):
   ## just rename folders inside path 
    if pwd == path:
        #print(path)
        #print(folders)
        print(files)
print(type(files))
print(len(files))

['decomplicaemba.csv', 'deurbrur.csv', 'dederech.csv', 'degpolisme.csv', 'decertif.csv', 'decateml.csv', 'delista1.csv', 'deesco.csv', 'decondact.csv', 'deparenagresor.csv', 'desitiolesion.csv', 'decondemba.csv', 'deedadagrup.csv', 'desexo.csv', 'decatcausa.csv', 'deocutrab.csv', 'delistamex.csv', 'demeses.csv', 'dehoradef.csv', 'desitiodefun.csv', 'detamloc.csv', 'deedocony.csv', 'deocupa.csv', 'deedad.csv', 'delengindi.csv', 'depresunto.csv', 'demindef.csv', 'derelemba.csv', 'decapitulo.csv', 'denacion.csv', 'deviofam.csv', 'denecrop.csv', 'deasismed.csv', 'dedias.csv', 'derazonm.csv', 'deyear.csv', 'decapgpo.csv']
<class 'list'>
37

In [33]:
x = 0

database_username = 'root'
database_password = 'Amigomio00.'
database_ip       = '127.0.0.1'
database_name     = 'defunciones_inegi_db'

for x in files:
    try:
        if x == 'decateml.csv':
#             print(x)
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
            df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
            df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
#             print(df.head(5))        
            database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}?charset=latin1'.format(database_username, database_password, database_ip, database_name))
    #         df.to_sql(con=database_connection, name="Tabla_Formada_" + str(x), if_exists='replace', index=False)
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        else:
#             print("Adiós!, x")
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
    #         print(df.head(5))
            database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}?charset=latin1'.format(database_username, database_password, database_ip, database_name))
    #         df.to_sql(con=database_connection, name="Tabla_Formada_" + str(x), if_exists='replace', index=False)
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
            
    
    except Exception as e:
      print(f'Error detected in file', str(e))

In [93]:
# Load csv dictionary data files
data_dictionary_df = pd.read_csv("resources/diccionario_de_datos/diccionario_datos_defunciones_generales_2012.csv", encoding='latin1')

In [94]:
# Preview DataFrame
data_dictionary_df.head(10)

,NOMBRE_CAMPO,LONGITUD,TIPO,NEMÓNICO,CATÁLOGO,RANGO_CLAVES
0,Entidad Registro,2,N,ent_regis,decateml,01 - 32\t
1,Municipio Registro,3,N,mun_regis,decateml,001-570 ...
2,Entidad Residencia,2,N,ent_resid,decateml,"01-35, 99 ..."
3,Municipio Residencia,3,N,mun_resid,decateml,"001-570, 999 ..."
4,Tamaño Localidad Residencia,2,N,tloc_resid,detamloc,"01-17,99 ..."
5,Clave Localidad de Residencia,4,N,loc_resid,decateml,"0001 - 6999, 9999 ..."
6,Entidad Ocurrencia,2,N,ent_ocurr,decateml,"01-35,99 ..."
7,Municipio Ocurrencia,3,N,mun_ocurr,decateml,"001-570,999 ..."
8,Tamaño de Localidad Ocurrencia,2,N,tloc_ocurr,detamloc,"01-17,99 ..."
9,Clave Localidad de Ocurrencia,4,N,loc_ocur,decateml,"0001 - 6999, 9999 ..."

In [95]:
# Load csv data files
defunciones_generales_2012_df = pd.read_csv("resources/conjunto_de_datos/defunciones_generales_2012.csv")

In [96]:
# Preview DataFrame
defunciones_generales_2012_df.head(10)

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
1,1,1,1,2,1,7777,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,1,7777,1,1,1,7777,...,2012,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,5,1,106,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
5,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999
6,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
7,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
8,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,2,88,88,888,8888,0,999
9,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999

In [97]:
my_list_nemonics = data_dictionary_df["NEMÓNICO"].tolist()
my_list_catalogs = data_dictionary_df["CATÁLOGO"].tolist()
print(my_list_nemonics)
# print(my_list_catalogs.value_counts())
b = set(my_list_catalogs)
print (len(b))

['ent_regis', 'mun_regis', 'ent_resid', 'mun_resid', 'tloc_resid', 'loc_resid', 'ent_ocurr', 'mun_ocurr', 'tloc_ocurr', 'loc_ocur', 'causa_def', 'lista_mex', 'sexo', 'edad', 'dia_ocurr', 'mes_ocurr', 'anio_ocur', 'dia_regis', 'mes_regis', 'anio_regis', 'dia_nacim', 'mes_nacim', 'anio_nacim', 'ocupacion', 'escolarida', 'edo_civil', 'presunto', 'ocurr_trab', 'lugar_ocur', 'necropsia', 'asist_medi', 'sitio_ocur', 'cond_cert', 'nacionalid', 'derechohab', 'embarazo', 'rel_emba', 'horas', 'minutos', 'capitulo', 'grupo', 'lista1', 'gr_lismex', 'vio_fami', 'area_ur', 'edad_agru', 'complicaro', 'dia_cert', 'mes_cert', 'anio_cert', 'maternas', 'lengua', 'cond_act', 'par_agre', 'ent_ocules', 'mun_ocules', 'loc_ocules', 'razon_m', 'dis_re_oax']
36

In [100]:
%whos DataFrame

Variable                        Type         Data/Info
------------------------------------------------------
data_dictionary_df              DataFrame                             <...>
defunciones_generales_2012_df   DataFrame            ent_regis  mun_re<...>602354 rows x 59 columns]
df                              DataFrame         decapgpo_id         <...>n\n[249 rows x 2 columns]
name                            DataFrame       derazonm_id           <...>DO AL CATALOGO DECATCAUSA