## Import dependencies

In [4]:
%matplotlib notebook
# Dependencies declaration
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import os

from pandas.io import sql

from pandas import DataFrame


import mysql.connector
from mysql.connector import Error
from mysql.connector import errorcode

In [5]:
from config import database_username
from config import database_password

## Import all DB catalogs

### Read all the path/names of the catalog files

In [6]:
pwd = os.getcwd()
#print(pwd)
pwd = pwd + '/resources/catalogos'
#print(pwd)


for path, folders, files in os.walk(pwd):
   ## just rename folders inside path 
    if pwd == path:
        #print(path)
        #print(folders)
        print(files)
print(type(files))
print(len(files))

['decomplicaemba.csv', 'deurbrur.csv', 'dederech.csv', 'degpolisme.csv', 'decertif.csv', 'decateml.csv', 'delista1.csv', 'deesco.csv', 'decondact.csv', 'deparenagresor.csv', 'desitiolesion.csv', 'decondemba.csv', 'deedadagrup.csv', 'desexo.csv', 'decatcausa.csv', 'deocutrab.csv', 'delistamex.csv', 'demeses.csv', 'dehoradef.csv', 'desitiodefun.csv', 'detamloc.csv', 'deedocony.csv', 'deocupa.csv', 'deedad.csv', 'delengindi.csv', 'depresunto.csv', 'demindef.csv', 'derelemba.csv', 'decapitulo.csv', 'denacion.csv', 'deviofam.csv', 'denecrop.csv', 'deasismed.csv', 'dedias.csv', 'derazonm.csv', 'deyear.csv', 'decapgpo.csv']
<class 'list'>
37

### Connect to the database

In [7]:
database_ip       = '127.0.0.1'
database_name     = 'defunciones_inegi_db'

In [8]:
mydb = mysql.connector.connect(
  host=database_ip,
  user=database_username,
  passwd=database_password
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS defunciones_inegi_db;")

mydb.close()

In [9]:
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}?charset=latin1'.format(database_username, database_password, database_ip, database_name))

### Read each catalog CSV and load it to the database as a table

In [10]:
print(f'###### Creating the tables')
for x in files:
    try:
        
        if x == 'decateml.csv':
            df = pd.read_csv("resources/catalogos/"+ x, encoding ='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
            df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
            df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        else:
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        

            
    
    except Exception as e:
      print(f'Error detected in file', str(e))
print(f'###### Tables created')

###### Creating the tables
###### Tables created

In [11]:
# Open and read the file as a single buffer
fd = open('create_db_schema.sql', 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')


try:
    print('[#########] Running the create_db_schema.sql script')
    
    conn = mysql.connector.connect(host=database_ip,
                             database=database_name,
                             user=database_username,
                             password=database_password)
    cursor = conn.cursor()
    
    for command in sqlCommands:
        try:
            cursor.execute(command)
            #print(command)
        except Exception as e:
            print(f'Error detected: ', str(e))
            
    print('[#########] create_db_schema.sql script ran succesfuly')
    
except Exception as e:
        print(f'Error detected: ', str(e))
finally:
    #closing database connection.
    if(conn.is_connected()):
        conn.close()
        print('[#########] MySQL connection is closed')

[#########] Running the create_db_schema.sql script
[#########] create_db_schema.sql script ran succesfuly
[#########] MySQL connection is closed

### Read the transactional data csv

In [12]:
d_defunciones_generales = 'defunciones_generales_2012.csv'

df = pd.read_csv("resources/conjunto_de_datos/"+ d_defunciones_generales, encoding ='latin1')

### Load the transactional data into the database

try:
    conn = mysql.connector.connect(host=database_ip,
                             database=database_name,
                             user=database_username,
                             password=database_password)
    cursor = conn.cursor()
    print ("Displaying records Before Deleting single record from mobile table")
    sql_select_query = """select count(*) from d_defunciones_generales;"""
    cursor.execute(sql_select_query)
    records = cursor.fetchall()
    for record in records :
        print (record)
    #Delete record now
    #sql_Delete_query = """delete from d_defunciones_generales;"""
    #cursor.execute(sql_Delete_query)
    #conn.commit()
    print ("\nRecord Deleted successfully ")
    print("\nDisplaying Total records from mobile table after Deleting single record \n ")
    cursor.execute(sql_select_query)
    records = cursor.fetchall()
    for record in records:
        print(record)
except mysql.connector.Error as error :
    print("Failed to delete record to database: {}".format(error))
finally:
    #closing database connection.
    if(conn.is_connected()):
        conn.close()
        print("MySQL connection is closed")

In [13]:
### Se guardan los datos de 10K en 10K en la base de datos
### porque por alguna razon si se meten mas datos el programa crashea

cargar_de = 10000 

indexx = 0
limit = len(df)

while (indexx<=limit):
    
    final =  indexx + cargar_de
    
    try:
        print(f'[#########] Saving from index {indexx} to {final}.')
        df.iloc[indexx:final].to_sql(name='d_defunciones_generales', con=database_connection, if_exists='append', index=False) 

    except Exception as e:
        print(f'Error detected in file', str(e))
        
    indexx = indexx + cargar_de

print(f'[#########]  Data saved.')

[#########] Saving from index 0 to 10000.
[#########] Saving from index 10000 to 20000.
[#########] Saving from index 20000 to 30000.
[#########] Saving from index 30000 to 40000.
[#########] Saving from index 40000 to 50000.
[#########] Saving from index 50000 to 60000.
[#########] Saving from index 60000 to 70000.
[#########] Saving from index 70000 to 80000.
[#########] Saving from index 80000 to 90000.
[#########] Saving from index 90000 to 100000.
[#########] Saving from index 100000 to 110000.
[#########] Saving from index 110000 to 120000.
[#########] Saving from index 120000 to 130000.
[#########] Saving from index 130000 to 140000.
[#########] Saving from index 140000 to 150000.
[#########] Saving from index 150000 to 160000.
[#########] Saving from index 160000 to 170000.
[#########] Saving from index 170000 to 180000.
[#########] Saving from index 180000 to 190000.
[#########] Saving from index 190000 to 200000.
[#########] Saving from index 200000 to 210000.
[#########] Saving from index 210000 to 220000.
[#########] Saving from index 220000 to 230000.
[#########] Saving from index 230000 to 240000.
[#########] Saving from index 240000 to 250000.
[#########] Saving from index 250000 to 260000.
[#########] Saving from index 260000 to 270000.
[#########] Saving from index 270000 to 280000.
[#########] Saving from index 280000 to 290000.
[#########] Saving from index 290000 to 300000.
[#########] Saving from index 300000 to 310000.
[#########] Saving from index 310000 to 320000.
[#########] Saving from index 320000 to 330000.
[#########] Saving from index 330000 to 340000.
[#########] Saving from index 340000 to 350000.
[#########] Saving from index 350000 to 360000.
[#########] Saving from index 360000 to 370000.
[#########] Saving from index 370000 to 380000.
[#########] Saving from index 380000 to 390000.
[#########] Saving from index 390000 to 400000.
[#########] Saving from index 400000 to 410000.
[#########] Saving from index 410000 to 420000.
[#########] Saving from index 420000 to 430000.
[#########] Saving from index 430000 to 440000.
[#########] Saving from index 440000 to 450000.
[#########] Saving from index 450000 to 460000.
[#########] Saving from index 460000 to 470000.
[#########] Saving from index 470000 to 480000.
[#########] Saving from index 480000 to 490000.
[#########] Saving from index 490000 to 500000.
[#########] Saving from index 500000 to 510000.
[#########] Saving from index 510000 to 520000.
[#########] Saving from index 520000 to 530000.
[#########] Saving from index 530000 to 540000.
[#########] Saving from index 540000 to 550000.
[#########] Saving from index 550000 to 560000.
[#########] Saving from index 560000 to 570000.
[#########] Saving from index 570000 to 580000.
[#########] Saving from index 580000 to 590000.
[#########] Saving from index 590000 to 600000.
[#########] Saving from index 600000 to 610000.
[#########]  Data saved.

In [14]:

try:
    print("[#########] Reading table")
    
    conn = mysql.connector.connect(host=database_ip,
                             database=database_name,
                             user=database_username,
                             password=database_password)
    cursor = conn.cursor()
    
    sql_select_Query = "select * from vw_derecho_habiencia;"

    cursor.execute(sql_select_Query)

    result_df = DataFrame(cursor.fetchall())
    table_desc = cursor.description
 
    headers = []
    for header in table_desc:
        headers.append(header[0])
    
    result_df.columns = headers
    
    #for row in records:
    #    print(row)

    cursor.close()
    
    print("[#########] Table saved to dataframe")

except Exception as e:
    print(f'Error detected in file', str(e))
finally:
    #closing database connection.
    if(conn.is_connected()):
        conn.close()
        print("[#########] MySQL connection is closed")

[#########] Reading table
[#########] Table saved to dataframe
[#########] MySQL connection is closed

In [16]:
result_df

   derechohab                 derechi_habiencia  cantidad_derecho
0           1                           Ninguna            121871
1           2                              IMSS            198974
2           3                            ISSSTE             43519
3           4                             PEMEX              5009
4           5                            SEDENA              3363
5           6                             SEMAR               963
6           7                    Seguro popular            142357
7           8                              Otra             12380
8           9                IMSS oportunidades              3386
9          99  Derechohabiencia no especificada             70532