In [31]:
%matplotlib notebook
# Dependencies declaration
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import os

from pandas.io import sql
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [6]:
pwd = os.getcwd()
#print(pwd)
pwd = pwd + '/resources/catalogos'
#print(pwd)


for path, folders, files in os.walk(pwd):
   ## just rename folders inside path 
    if pwd == path:
        #print(path)
        #print(folders)
        print(files)
print(type(files))
print(len(files))

['decomplicaemba.csv', 'deurbrur.csv', 'dederech.csv', 'degpolisme.csv', 'decertif.csv', 'decateml.csv', '.DS_Store', 'delista1.csv', 'deesco.csv', 'decondact.csv', 'deparenagresor.csv', 'desitiolesion.csv', 'decondemba.csv', 'deedadagrup.csv', 'desexo.csv', 'decatcausa.csv', 'deocutrab.csv', 'delistamex.csv', 'demeses.csv', 'dehoradef.csv', 'desitiodefun.csv', 'detamloc.csv', 'deedocony.csv', 'deocupa.csv', 'deedad.csv', 'delengindi.csv', 'depresunto.csv', 'demindef.csv', 'derelemba.csv', 'decapitulo.csv', 'denacion.csv', 'deviofam.csv', 'denecrop.csv', 'deasismed.csv', 'dedias.csv', 'derazonm.csv', 'deyear.csv', 'decapgpo.csv']
<class 'list'>
38

In [16]:
x = 0

database_username = 'root'
database_password = 'musicaponle'
database_ip       = '127.0.0.1'
database_name     = 'defunciones_inegi_db'

database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}?charset=latin1'.format(database_username, database_password, database_ip, database_name))
print(f'###### Creating the tables')
for x in files:
    try:
        
        if x == 'decateml.csv':
            df = pd.read_csv("resources/catalogos/"+ x, encoding ='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
            df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
            df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        else:
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df.to_sql("c_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        

            
    
    except Exception as e:
      print(f'Error detected in file', str(e))
print(f'###### Tables created')

###### Creating the tables
###### Tables created

OperationalError: (mysql.connector.errors.OperationalError) 2055: Lost connection to MySQL server at '127.0.0.1:3306', system error: 32 Broken pipe [SQL: 'INSERT INTO d_defunciones_generales (`index`, ent_regis, mun_regis, ent_resid, mun_resid, tloc_resid, loc_resid, ent_ocurr, mun_ocurr, tloc_ocurr, loc_ocurr, causa_def, lista_mex, sexo, edad, dia_ocurr, mes_ocurr, anio_ocur, dia_regis, mes_regis, anio_regis, dia_nacim, mes_nacim, anio_nacim, ocupacion, escolarida, edo_civil, presunto, ocurr_trab, lugar_ocur, necropsia, asist_medi, sitio_ocur, cond_cert, nacionalid, derechohab, embarazo, rel_emba, horas, minutos, capitulo, grupo, lista1, gr_lismex, vio_fami, area_ur, edad_agru, complicaro, dia_cert, mes_cert, anio_cert, maternas, lengua, cond_act, par_agre, ent_ocules, mun_ocules, loc_ocules, razon_m, dis_re_oax) VALUES (%(index)s, %(ent_regis)s, %(mun_regis)s, %(ent_resid)s, %(mun_resid)s, %(tloc_resid)s, %(loc_resid)s, %(ent_ocurr)s, %(mun_ocurr)s, %(tloc_ocurr)s, %(loc_ocurr)s, %(causa_def)s, %(lista_mex)s, %(sexo)s, %(edad)s, %(dia_ocurr)s, %(mes_ocurr)s, %(anio_ocur)s, %(dia_regis)s, %(mes_regis)s, %(anio_regis)s, %(dia_nacim)s, %(mes_nacim)s, %(anio_nacim)s, %(ocupacion)s, %(escolarida)s, %(edo_civil)s, %(presunto)s, %(ocurr_trab)s, %(lugar_ocur)s, %(necropsia)s, %(asist_medi)s, %(sitio_ocur)s, %(cond_cert)s, %(nacionalid)s, %(derechohab)s, %(embarazo)s, %(rel_emba)s, %(horas)s, %(minutos)s, %(capitulo)s, %(grupo)s, %(lista1)s, %(gr_lismex)s, %(vio_fami)s, %(area_ur)s, %(edad_agru)s, %(complicaro)s, %(dia_cert)s, %(mes_cert)s, %(anio_cert)s, %(maternas)s, %(lengua)s, %(cond_act)s, %(par_agre)s, %(ent_ocules)s, %(mun_ocules)s, %(loc_ocules)s, %(razon_m)s, %(dis_re_oax)s)'] [parameters: ({'index': 0, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 15, 'loc_resid': 1, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'I259', 'lista_mex': '28Z', 'sexo': 1, 'edad': 4082, 'dia_ocurr': 27, 'mes_ocurr': 12, 'anio_ocur': 2011, 'dia_regis': 1, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 6, 'mes_nacim': 1, 'anio_nacim': 1929, 'ocupacion': 71, 'escolarida': 4, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 2, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 16, 'minutos': 35, 'capitulo': 9, 'grupo': 4, 'lista1': 67, 'gr_lismex': ' 28', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 21, 'complicaro': 8, 'dia_cert': 27, 'mes_cert': 12, 'anio_cert': 2011, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 1, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 2, 'tloc_resid': 1, 'loc_resid': 7777, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'I619', 'lista_mex': '30B', 'sexo': 1, 'edad': 4072, 'dia_ocurr': 29, 'mes_ocurr': 9, 'anio_ocur': 2011, 'dia_regis': 1, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 21, 'mes_nacim': 1, 'anio_nacim': 1939, 'ocupacion': 14, 'escolarida': 3, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 3, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 19, 'minutos': 55, 'capitulo': 9, 'grupo': 7, 'lista1': 69, 'gr_lismex': ' 30', 'vio_fami': 8, 'area_ur': 2, 'edad_agru': 19, 'complicaro': 8, 'dia_cert': 29, 'mes_cert': 9, 'anio_cert': 2011, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 2, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 1, 'loc_resid': 7777, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 1, 'loc_ocurr': 7777, 'causa_def': 'M729', 'lista_mex': '37H', 'sexo': 2, 'edad': 4081, 'dia_ocurr': 28, 'mes_ocurr': 2, 'anio_ocur': 2012, 'dia_regis': 2, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 99, 'mes_nacim': 99, 'anio_nacim': 1931, 'ocupacion': 12, 'escolarida': 8, 'edo_civil': 3, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 11, 'cond_cert': 1, 'nacionalid': 1, 'derechohab': 1, 'embarazo': 8, 'rel_emba': 8, 'horas': 19, 'minutos': 55, 'capitulo': 13, 'grupo': 11, 'lista1': 83, 'gr_lismex': ' 37', 'vio_fami': 8, 'area_ur': 2, 'edad_agru': 21, 'complicaro': 8, 'dia_cert': 28, 'mes_cert': 2, 'anio_cert': 2012, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 3, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 5, 'tloc_resid': 1, 'loc_resid': 106, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'K631', 'lista_mex': '35O', 'sexo': 1, 'edad': 4050, 'dia_ocurr': 27, 'mes_ocurr': 2, 'anio_ocur': 2009, 'dia_regis': 6, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 99, 'mes_nacim': 99, 'anio_nacim': 1959, 'ocupacion': 81, 'escolarida': 3, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 1, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 7, 'embarazo': 8, 'rel_emba': 8, 'horas': 2, 'minutos': 40, 'capitulo': 11, 'grupo': 6, 'lista1': 81, 'gr_lismex': ' 35', 'vio_fami': 8, 'area_ur': 2, 'edad_agru': 15, 'complicaro': 8, 'dia_cert': 99, 'mes_cert': 3, 'anio_cert': 2012, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 4, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 15, 'loc_resid': 1, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'R54X', 'lista_mex': '48E', 'sexo': 1, 'edad': 4098, 'dia_ocurr': 5, 'mes_ocurr': 3, 'anio_ocur': 2012, 'dia_regis': 8, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 99, 'mes_nacim': 99, 'anio_nacim': 1914, 'ocupacion': 52, 'escolarida': 9, 'edo_civil': 3, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 11, 'cond_cert': 1, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 21, 'minutos': 30, 'capitulo': 18, 'grupo': 8, 'lista1': 94, 'gr_lismex': ' 48', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 24, 'complicaro': 8, 'dia_cert': 5, 'mes_cert': 3, 'anio_cert': 2012, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 5, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 15, 'loc_resid': 1, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'J64X', 'lista_mex': '33H', 'sexo': 1, 'edad': 4086, 'dia_ocurr': 29, 'mes_ocurr': 9, 'anio_ocur': 2011, 'dia_regis': 8, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 25, 'mes_nacim': 4, 'anio_nacim': 1925, 'ocupacion': 2, 'escolarida': 3, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 11, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 20, 'minutos': 20, 'capitulo': 10, 'grupo': 6, 'lista1': 77, 'gr_lismex': ' 33', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 22, 'complicaro': 8, 'dia_cert': 29, 'mes_cert': 9, 'anio_cert': 2011, 'maternas': None, 'lengua': 9, 'cond_act': 2, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 6, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 15, 'loc_resid': 1, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'C23X', 'lista_mex': '09Z', 'sexo': 1, 'edad': 4057, 'dia_ocurr': 13, 'mes_ocurr': 10, 'anio_ocur': 2011, 'dia_regis': 9, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 99, 'mes_nacim': 99, 'anio_nacim': 1954, 'ocupacion': 55, 'escolarida': 6, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 9, 'asist_medi': 1, 'sitio_ocur': 3, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 1, 'minutos': 10, 'capitulo': 2, 'grupo': 2, 'lista1': 46, 'gr_lismex': ' 09', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 16, 'complicaro': 8, 'dia_cert': 13, 'mes_cert': 10, 'anio_cert': 2011, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 7, 'ent_regis': 1, 'mun_regis': 1, 'ent_resid': 1, 'mun_resid': 1, 'tloc_resid': 15, 'loc_resid': 1, 'ent_ocurr': 1, 'mun_ocurr': 1, 'tloc_ocurr': 15, 'loc_ocurr': 1, 'causa_def': 'C349', 'lista_mex': '10B', 'sexo': 2, 'edad': 4048, 'dia_ocurr': 19, 'mes_ocurr': 8, 'anio_ocur': 2011, 'dia_regis': 13, 'mes_regis': 3, 'anio_regis': 2012, 'dia_nacim': 25, 'mes_nacim': 4, 'anio_nacim': 1963, 'ocupacion': 81, 'escolarida': 6, 'edo_civil': 5, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 11, 'cond_cert': 1, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 5, 'rel_emba': 2, 'horas': 17, 'minutos': 50, 'capitulo': 2, 'grupo': 3, 'lista1': 34, 'gr_lismex': ' 10', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 14, 'complicaro': 2, 'dia_cert': 19, 'mes_cert': 8, 'anio_cert': 2011, 'maternas': None, 'lengua': 9, 'cond_act': 1, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}  ... displaying 10 of 602354 total bound parameter sets ...  {'index': 602352, 'ent_regis': 32, 'mun_regis': 56, 'ent_resid': 32, 'mun_resid': 17, 'tloc_resid': 13, 'loc_resid': 1, 'ent_ocurr': 32, 'mun_ocurr': 56, 'tloc_ocurr': 13, 'loc_ocurr': 1, 'causa_def': 'P960', 'lista_mex': '46Z', 'sexo': 2, 'edad': 2019, 'dia_ocurr': 13, 'mes_ocurr': 11, 'anio_ocur': 2012, 'dia_regis': 8, 'mes_regis': 12, 'anio_regis': 2012, 'dia_nacim': 25, 'mes_nacim': 10, 'anio_nacim': 2012, 'ocupacion': 97, 'escolarida': 88, 'edo_civil': 8, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 3, 'cond_cert': 3, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 3, 'minutos': 0, 'capitulo': 16, 'grupo': 10, 'lista1': 92, 'gr_lismex': ' 46', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 1, 'complicaro': 8, 'dia_cert': 13, 'mes_cert': 11, 'anio_cert': 2012, 'maternas': None, 'lengua': 9, 'cond_act': 8, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999}, {'index': 602353, 'ent_regis': 32, 'mun_regis': 56, 'ent_resid': 32, 'mun_resid': 17, 'tloc_resid': 13, 'loc_resid': 1, 'ent_ocurr': 32, 'mun_ocurr': 56, 'tloc_ocurr': 13, 'loc_ocurr': 1, 'causa_def': 'P77X', 'lista_mex': '46Z', 'sexo': 1, 'edad': 2018, 'dia_ocurr': 16, 'mes_ocurr': 4, 'anio_ocur': 2012, 'dia_regis': 99, 'mes_regis': 4, 'anio_regis': 2012, 'dia_nacim': 29, 'mes_nacim': 3, 'anio_nacim': 2012, 'ocupacion': 97, 'escolarida': 88, 'edo_civil': 8, 'presunto': 8, 'ocurr_trab': 8, 'lugar_ocur': 88, 'necropsia': 2, 'asist_medi': 1, 'sitio_ocur': 3, 'cond_cert': 1, 'nacionalid': 1, 'derechohab': 2, 'embarazo': 8, 'rel_emba': 8, 'horas': 20, 'minutos': 10, 'capitulo': 16, 'grupo': 8, 'lista1': 92, 'gr_lismex': ' 46', 'vio_fami': 8, 'area_ur': 1, 'edad_agru': 1, 'complicaro': 8, 'dia_cert': 16, 'mes_cert': 4, 'anio_cert': 2012, 'maternas': None, 'lengua': 9, 'cond_act': 8, 'par_agre': 88, 'ent_ocules': 88, 'mun_ocules': 888, 'loc_ocules': 8888, 'razon_m': 0, 'dis_re_oax': 999})] (Background on this error at: http://sqlalche.me/e/e3q8)

In [20]:
d_defunciones_generales = 'defunciones_generales_2012.csv'

df = pd.read_csv("resources/conjunto_de_datos/"+ d_defunciones_generales, encoding ='latin1')

In [22]:
df.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
1,1,1,1,2,1,7777,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,1,7777,1,1,1,7777,...,2012,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,5,1,106,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999

In [34]:
try:
    df.head().to_sql(name='d_defunciones_generales', con=database_connection, if_exists='replace', flavor='mysql') 
    #df.to_sql(con=con, 'table_name_for_df', if_exists='replace', flavor='mysql')
except Exception as e:
    print(f'Error detected in file', str(e))

print(f'###### Tables created')

Error detected in file to_sql() got an unexpected keyword argument 'flavor'
###### Tables created

In [37]:

gaagag = f'mysql+mysqlconnector://{database_username}:{database_password}@{database_ip}/{database_name}'
#gaagag = f'mysql://{database_username}:{database_password}@{database_ip}/{database_name}'    

print(gaagag)    

engine = create_engine(gaagag, pool_recycle=1)
with engine.connect() as conn, conn.begin():
    df.head().to_sql('d_defunciones_generales', conn)

mysql+mysqlconnector://root:musicaponle@127.0.0.1/defunciones_inegi_db

ValueError: Table 'd_defunciones_generales' already exists.

In [ ]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine

df = pd.read_csv('File.csv', usercols=['ID', 'START_DATE'], skiprows=skip)
print(df)

engine = create_engine('mysql://username:password@localhost/dbname')
with engine.connect() as conn, conn.begin():
    df.to_sql('Table1', conn, if_exists='replace')

In [93]:
# Load csv dictionary data files
data_dictionary_df = pd.read_csv("resources/diccionario_de_datos/diccionario_datos_defunciones_generales_2012.csv", encoding='latin1')

In [94]:
# Preview DataFrame
data_dictionary_df.head(10)

,NOMBRE_CAMPO,LONGITUD,TIPO,NEMNICO,CATLOGO,RANGO_CLAVES
0,Entidad Registro,2,N,ent_regis,decateml,01 - 32\t
1,Municipio Registro,3,N,mun_regis,decateml,001-570 ...
2,Entidad Residencia,2,N,ent_resid,decateml,"01-35, 99 ..."
3,Municipio Residencia,3,N,mun_resid,decateml,"001-570, 999 ..."
4,Tamao Localidad Residencia,2,N,tloc_resid,detamloc,"01-17,99 ..."
5,Clave Localidad de Residencia,4,N,loc_resid,decateml,"0001 - 6999, 9999 ..."
6,Entidad Ocurrencia,2,N,ent_ocurr,decateml,"01-35,99 ..."
7,Municipio Ocurrencia,3,N,mun_ocurr,decateml,"001-570,999 ..."
8,Tamao de Localidad Ocurrencia,2,N,tloc_ocurr,detamloc,"01-17,99 ..."
9,Clave Localidad de Ocurrencia,4,N,loc_ocur,decateml,"0001 - 6999, 9999 ..."

In [95]:
# Load csv data files
defunciones_generales_2012_df = pd.read_csv("resources/conjunto_de_datos/defunciones_generales_2012.csv")

In [96]:
# Preview DataFrame
defunciones_generales_2012_df.head(10)

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
1,1,1,1,2,1,7777,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,1,7777,1,1,1,7777,...,2012,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,5,1,106,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
5,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999
6,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
7,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
8,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,2,88,88,888,8888,0,999
9,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999

In [97]:
my_list_nemonics = data_dictionary_df["NEMNICO"].tolist()
my_list_catalogs = data_dictionary_df["CATLOGO"].tolist()
print(my_list_nemonics)
# print(my_list_catalogs.value_counts())
b = set(my_list_catalogs)
print (len(b))

['ent_regis', 'mun_regis', 'ent_resid', 'mun_resid', 'tloc_resid', 'loc_resid', 'ent_ocurr', 'mun_ocurr', 'tloc_ocurr', 'loc_ocur', 'causa_def', 'lista_mex', 'sexo', 'edad', 'dia_ocurr', 'mes_ocurr', 'anio_ocur', 'dia_regis', 'mes_regis', 'anio_regis', 'dia_nacim', 'mes_nacim', 'anio_nacim', 'ocupacion', 'escolarida', 'edo_civil', 'presunto', 'ocurr_trab', 'lugar_ocur', 'necropsia', 'asist_medi', 'sitio_ocur', 'cond_cert', 'nacionalid', 'derechohab', 'embarazo', 'rel_emba', 'horas', 'minutos', 'capitulo', 'grupo', 'lista1', 'gr_lismex', 'vio_fami', 'area_ur', 'edad_agru', 'complicaro', 'dia_cert', 'mes_cert', 'anio_cert', 'maternas', 'lengua', 'cond_act', 'par_agre', 'ent_ocules', 'mun_ocules', 'loc_ocules', 'razon_m', 'dis_re_oax']
36

In [100]:
%whos DataFrame

Variable                        Type         Data/Info
------------------------------------------------------
data_dictionary_df              DataFrame                             <...>
defunciones_generales_2012_df   DataFrame            ent_regis  mun_re<...>602354 rows x 59 columns]
df                              DataFrame         decapgpo_id         <...>n\n[249 rows x 2 columns]
name                            DataFrame       derazonm_id           <...>DO AL CATALOGO DECATCAUSA