In [92]:
%matplotlib notebook
# Dependencies declaration
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [93]:
# Load csv dictionary data files
data_dictionary_df = pd.read_csv("resources/diccionario_de_datos/diccionario_datos_defunciones_generales_2012.csv", encoding='latin1')

In [94]:
# Preview DataFrame
data_dictionary_df.head(10)

,NOMBRE_CAMPO,LONGITUD,TIPO,NEMÓNICO,CATÁLOGO,RANGO_CLAVES
0,Entidad Registro,2,N,ent_regis,decateml,01 - 32\t
1,Municipio Registro,3,N,mun_regis,decateml,001-570 ...
2,Entidad Residencia,2,N,ent_resid,decateml,"01-35, 99 ..."
3,Municipio Residencia,3,N,mun_resid,decateml,"001-570, 999 ..."
4,Tamaño Localidad Residencia,2,N,tloc_resid,detamloc,"01-17,99 ..."
5,Clave Localidad de Residencia,4,N,loc_resid,decateml,"0001 - 6999, 9999 ..."
6,Entidad Ocurrencia,2,N,ent_ocurr,decateml,"01-35,99 ..."
7,Municipio Ocurrencia,3,N,mun_ocurr,decateml,"001-570,999 ..."
8,Tamaño de Localidad Ocurrencia,2,N,tloc_ocurr,detamloc,"01-17,99 ..."
9,Clave Localidad de Ocurrencia,4,N,loc_ocur,decateml,"0001 - 6999, 9999 ..."

In [95]:
# Load csv data files
defunciones_generales_2012_df = pd.read_csv("resources/conjunto_de_datos/defunciones_generales_2012.csv")

In [96]:
# Preview DataFrame
defunciones_generales_2012_df.head(10)

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
1,1,1,1,2,1,7777,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,1,7777,1,1,1,7777,...,2012,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,5,1,106,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
5,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999
6,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
7,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
8,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,2,88,88,888,8888,0,999
9,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,2,88,88,888,8888,0,999

In [97]:
my_list_nemonics = data_dictionary_df["NEMÓNICO"].tolist()
my_list_catalogs = data_dictionary_df["CATÁLOGO"].tolist()
print(my_list_nemonics)
# print(my_list_catalogs.value_counts())
b = set(my_list_catalogs)
print (len(b))

['ent_regis', 'mun_regis', 'ent_resid', 'mun_resid', 'tloc_resid', 'loc_resid', 'ent_ocurr', 'mun_ocurr', 'tloc_ocurr', 'loc_ocur', 'causa_def', 'lista_mex', 'sexo', 'edad', 'dia_ocurr', 'mes_ocurr', 'anio_ocur', 'dia_regis', 'mes_regis', 'anio_regis', 'dia_nacim', 'mes_nacim', 'anio_nacim', 'ocupacion', 'escolarida', 'edo_civil', 'presunto', 'ocurr_trab', 'lugar_ocur', 'necropsia', 'asist_medi', 'sitio_ocur', 'cond_cert', 'nacionalid', 'derechohab', 'embarazo', 'rel_emba', 'horas', 'minutos', 'capitulo', 'grupo', 'lista1', 'gr_lismex', 'vio_fami', 'area_ur', 'edad_agru', 'complicaro', 'dia_cert', 'mes_cert', 'anio_cert', 'maternas', 'lengua', 'cond_act', 'par_agre', 'ent_ocules', 'mun_ocules', 'loc_ocules', 'razon_m', 'dis_re_oax']
36

In [98]:
import os

pwd = os.getcwd()
#print(pwd)
pwd = pwd + '/resources/catalogos'
#print(pwd)


for path, folders, files in os.walk(pwd):
   ## just rename folders inside path 
    if pwd == path:
        #print(path)
        #print(folders)
        print(files)
print(type(files))
print(len(files))

['decomplicaemba.csv', 'deurbrur.csv', 'dederech.csv', 'degpolisme.csv', 'decertif.csv', 'decateml.csv', 'delista1.csv', 'deesco.csv', 'decondact.csv', 'deparenagresor.csv', 'desitiolesion.csv', 'decondemba.csv', 'deedadagrup.csv', 'desexo.csv', 'decatcausa.csv', 'deocutrab.csv', 'delistamex.csv', 'deaño.csv', 'demeses.csv', 'dehoradef.csv', 'desitiodefun.csv', 'detamloc.csv', 'deedocony.csv', 'deocupa.csv', 'deedad.csv', 'delengindi.csv', 'depresunto.csv', 'demindef.csv', 'derelemba.csv', 'decapitulo.csv', 'denacion.csv', 'deviofam.csv', 'denecrop.csv', 'deasismed.csv', 'dedias.csv', 'derazonm.csv', 'decapgpo.csv']
<class 'list'>
37

In [99]:
x = 0

# data_dictionary_df
# print(data_dictionary_df["LONGISt"])

for x in files:
    if x == 'decateml.csv':
        print("Hola")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
        df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
        df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
        print(df.head(5))
    else:
        print("Adiós!")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        print(df.head(5))

Adiós!
   decomplicaemba_id                     DESCRIP
0                  1  Si complicaron el embarazo
1                  2  No complicaron el embarazo
2                  8                  No aplica
Adiós!
   deurbrur_id          DESCRIP
0            1           Urbano
1            2            Rural
2            9  No especificado
Adiós!
   dederech_id  DESCRIP
0            1  Ninguna
1            2     IMSS
2            3   ISSSTE
3            4    PEMEX
4            5   SEDENA
Adiós!
  degpolisme_id                                        DESCRIPCION
0           001              Enfermedades infecciosas intestinales
1           002                                       Tuberculosis
2           003                     Otras enfermedades bacterianas
3           004  Infecciones con modo de transmisiÃ³n predomina...
4           005  Otras enfermedades infecciosas y parasitarias ...
Adiós!
   decertif_id                        DESCRIP
0            1               MÃ©dico tratante
1            2                MÃ©dico legista
2            3                   Otro mÃ©dico
3            4  Persona autorizada por la SSA
4            5                Autoridad civil
Hola
   decateml_entidad_id  decateml_municipio_id  decateml_locacion_id  \
0                    1                      0                     0
1                    1                      1                     0
2                    1                      1                     1
3                    1                      1                   127
4                    1                      1                   138

                       nom_loc
0               Aguascalientes
1               Aguascalientes
2               Aguascalientes
3                   Los CaÃ±os
4  Centro de Arriba (El Taray)
Adiós!
   delista1_id                                            DESCRIP
0            1  Ciertas  enfermedades infecciosas  y parasitarias
1            2                                            CÃ³lera
2            3  Diarrea y gastroenteritis de presunto origen i...
3            4        Otras enfermedades infecciosas intestinales
4            5                          Tuberculosis respiratoria
Adiós!
   deesco_id                DESCRIP
0          1        Sin escolaridad
1          2             Preescolar
2          3    Primaria incompleta
3          4      Primaria completa
4          5  Secundaria incompleta
Adiós!
   decondact_id                         DESCRIP
0             1                              Si
1             2                              No
2             8  No aplica a menores de 5 aÃ±os
3             9                       Se ignora
Adiós!
   deparenagresor_id  DESCRIP
0                  1  Padre
1                  2  Madre
2                  3  Hermano
3                  4  Hermana
4                  5  Hijo
Adiós!
   desitiolesion_id                            DESCRIP
0                 0                Vivienda particular
1                 1                 Vivienda colectiva
2                 2         Escuela u oficina pÃºblica
3                 3                    Ãrea deportiva
4                 4  Calle o carretera (vÃ­a pÃºblica)
Adiós!
   decondemba_id                                            DESCRIP
0              1                                        El embarazo
1              2                                           El parto
2              3                                       El puerperio
3              4    43 dÃ­as a 11 meses despuÃ©s del parto o aborto
4              5  No estuvo embarazada durante los once meses pr...
Adiós!
   deedadagrup_id             DESCRIP
0               1  Menores de un aÃ±o
1               2          De un aÃ±o
2               3          De 2 aÃ±os
3               4          De 3 aÃ±os
4               5          De 4 aÃ±os
Adiós!
   desexo_id               DESCRIP
0          1               Hombres
1          2               Mujeres
2          9  Sexo no especificado
Adiós!
  decatcausa_id                                            DESCRIP
0          A000  CÃ³lera debido a Vibrio cholerae 01, biotipo c...
1          A001  CÃ³lera debido a Vibrio cholerae 01, biotipo e...
2          A009                           CÃ³lera, no especificado
3          A010                                    Fiebre tifoidea
4          A011                              Fiebre paratifoidea A
Adiós!
   deocutrab_id                                            DESCRIP
0             1                                                 Si
1             2                                                No
2             8  No aplica a muerte natural (A00 a R99) y menor...
3             9                                    No especificado
Adiós!
  delistamex_id                                DESCRIP
0            01  Enfermedades infecciosas intestinales
1           01A                                CÃ³lera
2           01B                        Fiebre tifoidea
3           01C                    Fiebre paratifoidea
4           01D                             Shigelosis
Adiós!
   deaño_id    DESCRIP
0       1900  AÃ±o 1900
1       1901  AÃ±o 1901
2       1902  AÃ±o 1902
3       1903  AÃ±o 1903
4       1904  AÃ±o 1904
Adiós!
   demeses_id  DESCRIP
0           1    Enero
1           2  Febrero
2           3    Marzo
3           4    Abril
4           5     Mayo
Adiós!
   dehoradef_id       DESCRIP
0             0    Cero horas
1             1      Una hora
2             2     Dos horas
3             3    Tres horas
4             4  Cuatro horas
Adiós!
   desitiodefun_id               DESCRIP
0                1  SecretarÃ­a de salud
1                2    IMSS oportunidades
2                3                  IMSS
3                4                ISSSTE
4                5                 PEMEX
Adiós!
   detamloc_id             DESCRIP
0            1  1 a 999 habitantes
1            2       1 000 a 1 999
2            3       2 000 a 2 499
3            4       2 500 a 4 999
4            5       5 000 a 9 999
Adiós!
   deedocony_id       DESCRIP
0             1       Soltera
1             2    Divorciada
2             3         Viuda
3             4  UniÃ³n libre
4             5        Casada
Adiós!
   deocupa_id                                            DESCRIP
0           1                   Funcionarios, directores y jefes
1           2                         Profesionistas y tÃ©cnicos
2           3  Trabajadores auxiliares en actividades adminis...
3           4  Comerciantes, empleados en ventas y agentes de...
4           5  Trabajadores en servicios personales y vigilancia
Adiós!
   deedad_id                          DESCRIP
0       1001  Una hora
1       1002  Dos horas
2       1003  Tres horas
3       1004  Cuatro horas
4       1005  Cinco horas
Adiós!
   delengindi_id    DESCRIP
0              1         Si
1              2         No
2              9  Se ignora
Adiós!
   depresunto_id                                        DESCRIP
0              1                                      Accidente
1              2                                      Homicidio
2              3                                       Suicidio
3              4                                      Se ignora
4              5  Operaciones legales y de guera (Y35-Y36, Y89)
Adiós!
   demindef_id         DESCRIP
0            0    Cero minutos
1            1       Un minuto
2            2     Dos minutos
3            3    Tres minutos
4            4  Cuatro minutos
Adiós!
   derelemba_id                           DESCRIP
0             1  Si tuvieron relaciÃ³n las causas
1             2  No tuvieron relaciÃ³n las causas
2             8                         No aplica
Adiós!
   decapitulo_id                                            DESCRIP
0              1    Ciertas enfermedades infecciosas y parasitarias
1              2                               Tumores (neoplasias)
2              3  Enfermedades de la sangre y de los Ã³rganos he...
3              4  Enfermedades endocrinas, nutricionales y metab...
4              5           Trastornos mentales y del comportamiento
Adiós!
   denacion_id                       DESCRIP
0            1                      Mexicana
1            2                    Extranjera
2            9  Nacionalidad no especificada
Adiós!
   deviofam_id                                            DESCRIP
0            1                            Hubo violencia familiar
1            2                         Hubo violencia no familiar
2            8  No aplica cuando es: Muerte natural, accidente...
3            9                                    No especificado
Adiós!
   denecrop_id          DESCRIP
0            1               Si
1            2               No
2            9  No especificado
Adiós!
   deasismed_id                 DESCRIP
0             1  Con asistencia mÃ©dica
1             2  Sin asistencia mÃ©dica
2             9         No especificada
Adiós!
   dedias_id      DESCRIP
0          1      Uno día
1          2     Dos días
2          3    Tres días
3          4  Cuatro días
4          5   Cinco días
Adiós!
   derazonm_id                          DESCRIP
0            1  ASOCIADO AL CATALOGO DECATCAUSA
Adiós!
   decapgpo_id                                          DESCRIP
0          100  Ciertas enfermedades infecciosas y parasitarias
1          101  Enfermedades infecciosas intestinales (A00-A09)
2          102                          Tuberculosis  (A15-A19)
3          103           Ciertas zoonosis bacterianas (A20-A28)
4          104         Otras enfermedades bacterianas (A30-A49)

In [100]:
%whos DataFrame

Variable                        Type         Data/Info
------------------------------------------------------
data_dictionary_df              DataFrame                             <...>
defunciones_generales_2012_df   DataFrame            ent_regis  mun_re<...>602354 rows x 59 columns]
df                              DataFrame         decapgpo_id         <...>n\n[249 rows x 2 columns]
name                            DataFrame       derazonm_id           <...>DO AL CATALOGO DECATCAUSA

In [104]:
# Import dataframe into MySQL            
database_username = 'root'
database_password = 'Amigomio00.'
database_ip       = '127.0.0.1'
database_name     = 'a001_db'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(database_username, database_password, database_ip, database_name))
df.to_sql(con=database_connection, name="Hola", if_exists='replace')

In [146]:
x = 0

database_username = 'root'
database_password = 'Amigomio00.'
database_ip       = '127.0.0.1'
database_name     = 'defunciones_db'

for x in files:
    try:
        if x == 'decateml.csv':
#             print(x)
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
            df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
            df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
            df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
#             print(df.head(5))        
            database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(database_username, database_password, database_ip, database_name))
    #         df.to_sql(con=database_connection, name="Tabla_Formada_" + str(x), if_exists='replace', index=False)
            df.to_sql("tables_defunciones_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
        else:
#             print("Adiós!, x")
            df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
            s = x.split(".csv")
            df = df.rename(columns={'CVE': str(s[0]) + "_id"})
    #         print(df.head(5))
            database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(database_username, database_password, database_ip, database_name))
    #         df.to_sql(con=database_connection, name="Tabla_Formada_" + str(x), if_exists='replace', index=False)
            df.to_sql("tables_defunciones_"+str(s[0]), con=database_connection, if_exists='replace', index=False) 
            
    
    except:
      print(f'Error detected in file, {x}')

Error detected in file, decateml.csv
Error detected in file, delista1.csv
Error detected in file, decatcausa.csv

In [89]:
import pandas as pd
from sqlalchemy import create_engine

infile = r'path/to/file.csv'
db = 'a001_db'
db_tbl_name = 'prueba_6'

'''
Load a csv file into a dataframe; if csv does not have headers, use the headers arg to create a list of headers; rename unnamed columns to conform to mysql column requirements
'''
def csv_to_df(infile, headers = []):
    if len(headers) == 0:
        df = pd.read_csv(infile)
    else:
        df = pd.read_csv(infile, header = None)
        df.columns = headers
    for r in range(10):
        try:
            df.rename( columns={'Unnamed: {0}'.format(r):'Unnamed{0}'.format(r)},    inplace=True )
        except:
            pass
    return df

'''
Create a mapping of df dtypes to mysql data types (not perfect, but close enough)
'''
def dtype_mapping():
    return {'object' : 'TEXT',
        'int64' : 'INT',
        'float64' : 'FLOAT',
        'datetime64' : 'DATETIME',
        'bool' : 'TINYINT',
        'category' : 'TEXT',
        'timedelta[ns]' : 'TEXT'}
'''
Create a sqlalchemy engine
'''
def mysql_engine(user = 'root', password = 'Amigomio00.', host = '127.0.0.1', port = '3306', database = 'a001_db'):
    engine = create_engine("mysql://{0}:{1}@{2}:{3}/{4}?charset=utf8".format(user, password, host, port, database))
    return engine

'''
Create a mysql connection from sqlalchemy engine
'''
def mysql_conn(engine):
    conn = engine.raw_connection()
    return conn
'''
Create sql input for table names and types
'''
def gen_tbl_cols_sql(df):
    dmap = dtype_mapping()
    sql = "pi_db_uid INT AUTO_INCREMENT PRIMARY KEY"
    df1 = df.rename(columns = {"" : "nocolname"})
    hdrs = df1.dtypes.index
    hdrs_list = [(hdr, str(df1[hdr].dtype)) for hdr in hdrs]
    for i, hl in enumerate(hdrs_list):
        sql += " ,{0} {1}".format(hl[0], dmap[hl[1]])
    return sql

'''
Create a mysql table from a df
'''
def create_mysql_tbl_schema(df, conn, db, tbl_name):
    tbl_cols_sql = gen_tbl_cols_sql(df)
    sql = "USE {0}; CREATE TABLE {1} ({2})".format(db, tbl_name, tbl_cols_sql)
    cur = conn.cursor()
    cur.execute(sql)
    cur.close()
    conn.commit()

'''
Write df data to newly create mysql table
'''
def df_to_mysql(df, engine, tbl_name):
    df.to_sql(tbl_name, engine, if_exists='replace')

# df = csv_to_df(infile)

create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

x = 0

# data_dictionary_df
# print(data_dictionary_df["LONGISt"])

for x in files:
    if x == 'decateml.csv':
        print("Hola")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
        df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
        df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
        print(df.head(5))
        
        db = 'a001_db'
        db_tbl_name = 'table_'+ str(x)
        
        create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
        df_to_mysql(df, mysql_engine(), db_tbl_name)
        
        
    else:
        print("Adiós!")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        print(df.head(5))

OperationalError: (MySQLdb._exceptions.OperationalError) (1366, "Incorrect string value: '\\xC2\\x9Arsul...' for column 'nom_loc' at row 551") [SQL: 'INSERT INTO prueba_6 (`index`, decateml_entidad_id, decateml_municipio_id, decateml_locacion_id, nom_loc) VALUES (%s, %s, %s, %s, %s)'] [parameters: ((0, 1, 0, 0, 'Aguascalientes'), (1, 1, 1, 0, 'Aguascalientes'), (2, 1, 1, 1, 'Aguascalientes'), (3, 1, 1, 127, 'Los CaÃ±os'), (4, 1, 1, 138, 'Centro de Arriba (El Taray)'), (5, 1, 1, 139, 'Cieneguilla (La Lumbrera)'), (6, 1, 1, 237, 'Jaltomate'), (7, 1, 1, 239, 'General JosÃ© MarÃ\xada Morelos y PavÃ³n (CaÃ±ada Honda)')  ... displaying 10 of 26584 total bound parameter sets ...  (26582, 20, 929, 0, 'JuchitÃ¡n'), (26583, 20, 930, 0, 'Pochutla'))] (Background on this error at: http://sqlalche.me/e/e3q8)

In [83]:
x = 0

# data_dictionary_df
# print(data_dictionary_df["LONGISt"])

for x in files:
    if x == 'decateml.csv':
        print("Hola")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        df = df.rename(columns={'cve_ent': str(s[0]) + "_entidad_id"})
        df = df.rename(columns={'cve_mun': str(s[0]) + "_municipio_id"})
        df = df.rename(columns={'cve_loc': str(s[0]) + "_locacion_id"})
        print(df.head(5))
        
        db = 'a001_db'
        db_tbl_name = 'table_'+ str(x)
        
        create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
        df_to_mysql(df, mysql_engine(), db_tbl_name)
        
        
    else:
        print("Adiós!")
        df = pd.read_csv("resources/catalogos/"+ x, encoding='latin1')
        s = x.split(".csv")
        df = df.rename(columns={'CVE': str(s[0]) + "_id"})
        print(df.head(5))

Adiós!
   decomplicaemba_id                     DESCRIP
0                  1  Si complicaron el embarazo
1                  2  No complicaron el embarazo
2                  8                  No aplica
Adiós!
   deurbrur_id          DESCRIP
0            1           Urbano
1            2            Rural
2            9  No especificado
Adiós!
   dederech_id  DESCRIP
0            1  Ninguna
1            2     IMSS
2            3   ISSSTE
3            4    PEMEX
4            5   SEDENA
Adiós!
  degpolisme_id                                        DESCRIPCION
0           001              Enfermedades infecciosas intestinales
1           002                                       Tuberculosis
2           003                     Otras enfermedades bacterianas
3           004  Infecciones con modo de transmisiÃ³n predomina...
4           005  Otras enfermedades infecciosas y parasitarias ...
Adiós!
   decertif_id                        DESCRIP
0            1               MÃ©dico tratante
1            2                MÃ©dico legista
2            3                   Otro mÃ©dico
3            4  Persona autorizada por la SSA
4            5                Autoridad civil
Hola
   decateml_entidad_id  decateml_municipio_id  decateml_locacion_id  \
0                    1                      0                     0
1                    1                      1                     0
2                    1                      1                     1
3                    1                      1                   127
4                    1                      1                   138

                       nom_loc
0               Aguascalientes
1               Aguascalientes
2               Aguascalientes
3                   Los CaÃ±os
4  Centro de Arriba (El Taray)

OperationalError: (1049, "Unknown database 'table_decateml'")

In [41]:

    
    
    
#     for nemonic in my_list_nemonics:
#         if x in ['decateml', 'desitiolesion  ', 'deccertif', 'decomplicaemba ', 'deparenagresor ']:
#             print("this will do the calculation")
# #             print(type(nemonic))
# #             data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
# #             data_df = data_df.rename(columns={'CVE': catalog + "_id"})
#         else:
#             name = catalog + "_DataFrame"
# #             print(name)
# #             (name) = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
#             (name) = name.rename(columns={'CVE': catalog + "_id"})
#             print(type(name))
        
        
    
#     df = df.rename(columns={'CVE': 'Prueba'})
# #     (name) = name.rename(columns={'CVE': catalog + "_id"})
# #     df = df.rename(columns={'CVE': data_dictionary_df['NEMÓNICO'].loc[data_dictionary_df['CATÁLOGO'] + ".csv" == x] + "_id"}) 
#     print(x, df.head(2))
#     print(data_dictionary_df['NEMÓNICO'].loc[data_dictionary_df['CATÁLOGO'] + ".csv" == x])
   
    
    
# import sqlalchemy
from sqlalchemy import create_engine

for nemonic in my_list_nemonics:
    for catalog in my_list_catalogs:
        if catalog in ['decateml', 'desitiolesion  ', 'deccertif', 'decomplicaemba ', 'deparenagresor ']:
            print("this will do the calculation")
#             print(type(nemonic))
#             data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
#             data_df = data_df.rename(columns={'CVE': catalog + "_id"})
        else:
            name = catalog + "_DataFrame"
#             print(name)
            (name) = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
            (name) = name.rename(columns={'CVE': catalog + "_id"})
            print(type(name))

this will do the calculation
this will do the calculation
this will do the calculation
this will do the calculation
<class 'pandas.core.frame.DataFrame'>

ModuleNotFoundError: No module named 'mysql'

In [69]:
for nemonic in my_list_nemonics:
    for catalog in my_list_catalogs:
        if catalog in ['decateml', 'desitiolesion  ', 'deccertif', 'decomplicaemba ', 'deparenagresor ']:
#             print("this will do the calculation")
#             print(type(nemonic))
#             data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
#             data_df = data_df.rename(columns={'CVE': catalog + "_id"})
        else:
            name = catalog + "_DataFrame"
#             print(name)
            (name) = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
            (name) = name.rename(columns={'CVE': catalog + "_id"})
#             print(type(name))

#             %whos DataFrame
#             print(name.info())
#             data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
#             data_df = data_df.rename(columns={'CVE': catalog + "_id"})
#             data_df = data_df.rename(columns={'CVE': nemonic + "_id"})
#             print(name.head(2))

IndentationError: expected an indented block (<ipython-input-69-c3e1a0dfbd98>, line 8)

In [45]:
i = 1
for nemonic in my_list_nemonics:
    for catalog in my_list_catalogs:
        if catalog in ['decateml', 'desitiolesion  ', 'deccertif', 'decomplicaemba ', 'deparenagresor ']:
            print("this will do the calculation")
#             print(type(nemonic))
#             data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
#             data_df = data_df.rename(columns={'CVE': catalog + "_id"})
        else:
            name = catalog + "_DataFrame"
#             print(name)
            (name) = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')       
            (name) = name.rename(columns={'CVE': catalog + "_id"})
            print(type(name))
            df = name

this will do the calculation
this will do the calculation
this will do the calculation
this will do the calculation
<class 'pandas.core.frame.DataFrame'>

OperationalError: (1050, "Table 'detamloc_dataframe1' already exists")

In [43]:
mysql://root:Amigomio00.@localhost/icecream_db

import pandas as pd
from sqlalchemy import create_engine

infile = r'path/to/file.csv'
db = 'a001_db'
db_tbl_name = 'a001_rd004_db004'

'''
Load a csv file into a dataframe; if csv does not have headers, use the headers arg to create a list of headers; rename unnamed columns to conform to mysql column requirements
'''
def csv_to_df(infile, headers = []):
    if len(headers) == 0:
        df = pd.read_csv(infile)
    else:
        df = pd.read_csv(infile, header = None)
        df.columns = headers
    for r in range(10):
        try:
            df.rename( columns={'Unnamed: {0}'.format(r):'Unnamed{0}'.format(r)},    inplace=True )
        except:
            pass
    return df

'''
Create a mapping of df dtypes to mysql data types (not perfect, but close enough)
'''
def dtype_mapping():
    return {'object' : 'TEXT',
        'int64' : 'INT',
        'float64' : 'FLOAT',
        'datetime64' : 'DATETIME',
        'bool' : 'TINYINT',
        'category' : 'TEXT',
        'timedelta[ns]' : 'TEXT'}
'''
Create a sqlalchemy engine
'''
def mysql_engine(user = 'root', password = 'abc', host = '127.0.0.1', port = '3306', database = 'a001_db'):
    engine = create_engine("mysql://{0}:{1}@{2}:{3}/{4}?charset=utf8".format(user, password, host, port, database))
    return engine

'''
Create a mysql connection from sqlalchemy engine
'''
def mysql_conn(engine):
    conn = engine.raw_connection()
    return conn
'''
Create sql input for table names and types
'''
def gen_tbl_cols_sql(df):
    dmap = dtype_mapping()
    sql = "pi_db_uid INT AUTO_INCREMENT PRIMARY KEY"
    df1 = df.rename(columns = {"" : "nocolname"})
    hdrs = df1.dtypes.index
    hdrs_list = [(hdr, str(df1[hdr].dtype)) for hdr in hdrs]
    for i, hl in enumerate(hdrs_list):
        sql += " ,{0} {1}".format(hl[0], dmap[hl[1]])
    return sql

'''
Create a mysql table from a df
'''
def create_mysql_tbl_schema(df, conn, db, tbl_name):
    tbl_cols_sql = gen_tbl_cols_sql(df)
    sql = "USE {0}; CREATE TABLE {1} ({2})".format(db, tbl_name, tbl_cols_sql)
    cur = conn.cursor()
    cur.execute(sql)
    cur.close()
    conn.commit()

'''
Write df data to newly create mysql table
'''
def df_to_mysql(df, engine, tbl_name):
    df.to_sql(tbl_name, engine, if_exists='replace')

df = csv_to_df(infile)
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

SyntaxError: invalid syntax (<ipython-input-43-2bdf10b6894c>, line 1)

In [7]:
%whos DataFrame

Variable                        Type         Data/Info
------------------------------------------------------
data_dictionary_df              DataFrame                             <...>
defunciones_generales_2012_df   DataFrame            ent_regis  mun_re<...>602354 rows x 59 columns]
name                            DataFrame       derazonm_id           <...>DO AL CATALOGO DECATCAUSA

In [148]:
name.head()

   derazonm_id                          DESCRIP
0            1  ASOCIADO AL CATALOGO DECATCAUSA

In [149]:
name.head()

   derazonm_id                          DESCRIP
0            1  ASOCIADO AL CATALOGO DECATCAUSA

In [66]:

for nemonic in my_list_nemonics:
    for catalog in my_list_catalogs:
        print(nemonic)
        print(catalog)
        pathfile = ('/resources/catalogos/' + catalog)
        data_df = pd.read_csv("resources/catalogos/"+ catalog + ".csv", encoding='latin1')
        if catalog == 'decatml':
            print(1)
        else:
            print(2)
        data_df = data_df.rename(columns={'CVE': names + "_id"})
        data_df[names] = 3
        print(data_df.head(2))
        

        
# for names in files:
#     print('/resources/catalogos/' + names)
    
# for names in files:
# #     print('/resources/catalogos/' + names)
#     pathfile = ('/resources/catalogos/' + names)
#     data_df = pd.read_csv("resources/catalogos/"+ names, encoding='latin1')
#     data_df = data_df.rename(columns={'CVE': names + "_id"})
#     data_df[names] = 3


#     print(data_df.head(2))

ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
detamloc
2
   decapgpo.csv_id             DESCRIP  decapgpo.csv
0                1  1 a 999 habitantes             3
1                2       1 000 a 1 999             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
detamloc
2
   decapgpo.csv_id             DESCRIP  decapgpo.csv
0                1  1 a 999 habitantes             3
1                2       1 000 a 1 999             3
ent_regis
decateml
2
   cve_ent  cve_mun  cve_loc         nom_loc  decapgpo.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
ent_regis
decatcausa
2
  decapgpo.csv_id                                            DESCRIP  \
0            A000  CÃ³lera debido a Vibrio cholerae 01, biotipo c...
1            A001  CÃ³lera debido a Vibrio cholerae 01, biotipo e...

   decapgpo.csv
0             3
1             3
ent_regis
delistamex
2
  decapgpo.csv_id                                DESCRIP  decapgpo.csv
0              01  Enfermedades infecciosas intestinales             3
1             01A                                CÃ³lera             3
ent_regis
desexo
2
   decapgpo.csv_id  DESCRIP  decapgpo.csv
0                1  Hombres             3
1                2  Mujeres             3
ent_regis
deedad
2
   decapgpo.csv_id                          DESCRIP  decapgpo.csv
0             1001  Una hora                                    3
1             1002  Dos horas                                   3
ent_regis
dedias
2
   decapgpo.csv_id   DESCRIP  decapgpo.csv
0                1   Uno día             3
1                2  Dos días             3
ent_regis
demeses
2
   decapgpo.csv_id  DESCRIP  decapgpo.csv
0                1    Enero             3
1                2  Febrero             3
ent_regis
deaño

FileNotFoundError: File b'resources/catalogos/dea\xc3\xb1o.csv' does not exist

In [20]:
data_df = pd.read_csv("resources/catalogos/decomplicaemba.csv", encoding='latin1')
data_df.head(2)
    
# for names in files:
#     print('/resources/catalogos/' + names)
#     data_df = pd.read_csv("resources/catalogos/decomplicaemba.csv", encoding='latin1')
#     data_df.head(2)

   CVE                     DESCRIP
0    1  Si complicaron el embarazo
1    2  No complicaron el embarazo

In [68]:
for names in files:
#     print('/resources/catalogos/' + names)
#     pathfile = ('/resources/catalogos/' + names)
    data_df = pd.read_csv("resources/catalogos/"+ names, encoding='latin1')
    if names == 'decatml.csv':
        print(1)
    else:
        print(2)
    data_df = data_df.rename(columns={'CVE': names + "_id"})
    data_df[names] = 3


    print(data_df.head(2))
#     decertif_df = pd.read_csv(pathfile)
#     print(pathfile)
#     # Load in csv
# #     loaded_df = pd.read_csv((pathfile))
# #     loaded_df.head(2)

# # Load csv file with dictionary data
# data_df = pd.read_csv("resources/catalogos/decomplicaemba.csv", encoding='latin1')
# data_df.head(2)

2
   decomplicaemba.csv_id                     DESCRIP  decomplicaemba.csv
0                      1  Si complicaron el embarazo                   3
1                      2  No complicaron el embarazo                   3
2
   deurbrur.csv_id DESCRIP  deurbrur.csv
0                1  Urbano             3
1                2   Rural             3
2
   dederech.csv_id  DESCRIP  dederech.csv
0                1  Ninguna             3
1                2     IMSS             3
2
  degpolisme.csv_id                            DESCRIPCION  degpolisme.csv
0               001  Enfermedades infecciosas intestinales               3
1               002                           Tuberculosis               3
2
   decertif.csv_id           DESCRIP  decertif.csv
0                1  MÃ©dico tratante             3
1                2   MÃ©dico legista             3
2
   cve_ent  cve_mun  cve_loc         nom_loc  decateml.csv
0        1        0        0  Aguascalientes             3
1        1        1        0  Aguascalientes             3
2
   delista1.csv_id                                            DESCRIP  \
0                1  Ciertas  enfermedades infecciosas  y parasitarias
1                2                                            CÃ³lera

   delista1.csv
0             3
1             3
2
   deesco.csv_id          DESCRIP  deesco.csv
0              1  Sin escolaridad           3
1              2       Preescolar           3
2
   dea§o.csv_id    DESCRIP  dea§o.csv
0          1900  AÃ±o 1900          3
1          1901  AÃ±o 1901          3
2
   decondact.csv_id DESCRIP  decondact.csv
0                 1      Si              3
1                 2      No              3
2
   deparenagresor.csv_id  DESCRIP  deparenagresor.csv
0                      1  Padre                     3
1                      2  Madre                     3
2
   desitiolesion.csv_id              DESCRIP  desitiolesion.csv
0                     0  Vivienda particular                  3
1                     1   Vivienda colectiva                  3
2
   decondemba.csv_id      DESCRIP  decondemba.csv
0                  1  El embarazo               3
1                  2     El parto               3
2
   deedadagrup.csv_id             DESCRIP  deedadagrup.csv
0                   1  Menores de un aÃ±o                3
1                   2          De un aÃ±o                3
2
   desexo.csv_id  DESCRIP  desexo.csv
0              1  Hombres           3
1              2  Mujeres           3
2
  decatcausa.csv_id                                            DESCRIP  \
0              A000  CÃ³lera debido a Vibrio cholerae 01, biotipo c...
1              A001  CÃ³lera debido a Vibrio cholerae 01, biotipo e...

   decatcausa.csv
0               3
1               3
2
   deocutrab.csv_id DESCRIP  deocutrab.csv
0                 1      Si              3
1                 2     No               3
2
  delistamex.csv_id                                DESCRIP  delistamex.csv
0                01  Enfermedades infecciosas intestinales               3
1               01A                                CÃ³lera               3
2
   demeses.csv_id  DESCRIP  demeses.csv
0               1    Enero            3
1               2  Febrero            3
2
   dehoradef.csv_id     DESCRIP  dehoradef.csv
0                 0  Cero horas              3
1                 1    Una hora              3
2
   desitiodefun.csv_id               DESCRIP  desitiodefun.csv
0                    1  SecretarÃ­a de salud                 3
1                    2    IMSS oportunidades                 3
2
   detamloc.csv_id             DESCRIP  detamloc.csv
0                1  1 a 999 habitantes             3
1                2       1 000 a 1 999             3
2
   deedocony.csv_id     DESCRIP  deedocony.csv
0                 1     Soltera              3
1                 2  Divorciada              3
2
   deocupa.csv_id                           DESCRIP  deocupa.csv
0               1  Funcionarios, directores y jefes            3
1               2        Profesionistas y tÃ©cnicos            3
2
   deedad.csv_id                          DESCRIP  deedad.csv
0           1001  Una hora                                  3
1           1002  Dos horas                                 3
2
   delengindi.csv_id DESCRIP  delengindi.csv
0                  1      Si               3
1                  2      No               3
2
   depresunto.csv_id    DESCRIP  depresunto.csv
0                  1  Accidente               3
1                  2  Homicidio               3
2
   demindef.csv_id       DESCRIP  demindef.csv
0                0  Cero minutos             3
1                1     Un minuto             3
2
   derelemba.csv_id                           DESCRIP  derelemba.csv
0                 1  Si tuvieron relaciÃ³n las causas              3
1                 2  No tuvieron relaciÃ³n las causas              3
2
   decapitulo.csv_id                                          DESCRIP  \
0                  1  Ciertas enfermedades infecciosas y parasitarias
1                  2                             Tumores (neoplasias)

   decapitulo.csv
0               3
1               3
2
   denacion.csv_id     DESCRIP  denacion.csv
0                1    Mexicana             3
1                2  Extranjera             3
2
   deviofam.csv_id                     DESCRIP  deviofam.csv
0                1     Hubo violencia familiar             3
1                2  Hubo violencia no familiar             3
2
   denecrop.csv_id DESCRIP  denecrop.csv
0                1      Si             3
1                2      No             3
2
   deasismed.csv_id                 DESCRIP  deasismed.csv
0                 1  Con asistencia mÃ©dica              3
1                 2  Sin asistencia mÃ©dica              3
2
   dedias.csv_id   DESCRIP  dedias.csv
0              1   Uno día           3
1              2  Dos días           3
2
   derazonm.csv_id                          DESCRIP  derazonm.csv
0                1  ASOCIADO AL CATALOGO DECATCAUSA             3
2
   decapgpo.csv_id                                          DESCRIP  \
0              100  Ciertas enfermedades infecciosas y parasitarias
1              101  Enfermedades infecciosas intestinales (A00-A09)

   decapgpo.csv
0             3
1             3

In [7]:
# Load csv data files
defunciones_generales_2012_df = pd.read_csv("resources/conjunto_de_datos/defunciones_generales_2012.csv")

In [8]:
# DataFrame preview
defunciones_generales_2012_df.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
1,1,1,1,2,1,7777,1,1,15,1,...,2011,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,1,7777,1,1,1,7777,...,2012,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,5,1,106,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2012,NaN,9,1,88,88,888,8888,0,999

In [9]:
# Load in csv for data

asrchiv_names = ['12','145','67gg']

for names in asrchiv_names:
    print(f'resources/conjunto_de_datos/{names}.csv')

resources/conjunto_de_datos/12.csv
resources/conjunto_de_datos/145.csv
resources/conjunto_de_datos/67gg.csv

In [11]:
# Load in csv
decertif_df = pd.read_csv("resources/catalogos/decertif.csv")

In [12]:
decertif_df = decertif_df.rename(columns={'CVE': 'cond_cert'})
decertif_df = decertif_df.rename(columns={'CVE': 'decertif_id'})
decertif_df = decertif_df.rename(columns={'DESCRIP': 'description'})

decertif_descrip

NameError: name 'decertif_descrip' is not defined

In [ ]:
# print pd.merge(left, right, on='subject_id', how='inner')
new_df = pd.merge(defunciones_generales_2012_df, decertif_df, on='cond_cert', how='inner')

new_df.head()